body {
  	max-height:100%;
}
.container {
  	padding-left:5px;
  	padding-right:5px;
  	padding-bottom:20px;
  	display: flex;  
  	flex-flow: column ;
  	height:100%;
}
.container > * {
  flex: 1 100%;
}
.header {
    max-height:5%;
}
.footer {
    max-height:3%;
  	background: lightgreen;
}
.body {
 	border-top:1px solid black;
    max-height:91%;
	display:flex;
	flex-flow: row;
}
.centre{
  	padding-left:5px;
  	padding-right:5px;
  	flex-basis:68%;
}
.left {
 	border-right:1px solid black;
  	flex-basis:16%;
}
.right {
 	border-left:1px solid black;
  	flex-basis:16%;
}

