<div class="container">
  <header class="header">
      Entity Type: 
      <select id="entityType" (change)="setEntityType($event.target.value)">
          <option *ngFor="let def of entityDefs" [value]="def.name">{{def.name}}</option>
      </select>
      <button mat-button [matMenuTriggerFor]="appMenu">Menu</button>
      <mat-menu #appMenu="matMenu">
	  	  <button mat-menu-item (click)="showEntityDialog()">New Entity</button>
	  	  <button mat-menu-item (click)="openEntityTemplate(entityType)">Generate Entity Template</button>
	  	  <button mat-menu-item (click)="showEntityUploadDialog()">Upload Entities</button>
	  	  <button mat-menu-item (click)="openDialog('Do you want to do this?',do.YES_NO+do.QUESTION)">Question</button>
	  	  <button mat-menu-item (click)="openDialog('This is some info',do.OK+do.INFO)">Info-ok</button>
	  </mat-menu></header>
	  
  <div class="body">
  	<div class="left"> 
      	<entity-list [entities]="entities" (onSelect)="showEntityDialog($event)" (onDelete)="deleteEntity($event)"></entity-list>
	</div>
  	<div class="centre">
  		<app-canvas></app-canvas>
  	</div>
  	<div class="right">
  		<entity-def-list [entityDefs]="entityDefs" (onSelect)="showEntityDefDialog($event)" (onDelete)="deleteEntityDef($event)"></entity-def-list>
	</div>  
  </div>
  <footer class="footer">Footer</footer>
</div>