<div class="list">
  <div class="title">{{title}}</div>
  <div class="list-item">
  	<input type="checkbox" [(ngModel)]="selectAll" (click)="onSelectAll()">Show All
  </div>
  <div class="list-item" *ngFor="let e of entities" >
    	<input type="checkbox" [(ngModel)]="e.options.check" (click)="checked(e.entity.uuid)">
	    <span (click)="selected(e.entity.uuid)">
		  	<img class="icon-small" src="/assets/{{e.entity.type}}.svg"/>
		  	{{e.entity.display}}
	  	</span>
  		<span class="delete" (click)="delete(e.entity.uuid)">X</span>
  </div>
</div>
